<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      <!--//attempting to resolve: TypeLoadException: Could not resolve type with token 01000012 from typeref (expected class 'System.Diagnostics.DebuggerBrowsableAttribute' in assembly 'System.Runtime, Version=7.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a')-->
      <!-- #1 -->
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="7.0.0.0" href="C:\Program Files\Unity\Hub\Editor\2023.1.0b16\Editor\Data\NetStandard\compat\2.1.0\shims\netstandard\System.Runtime.dll"/>
      </dependentAssembly>

      <!-- #2 -->
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Numerics" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="7.0.0.0" href="C:\Program Files\Unity\Hub\Editor\2023.1.0b16\Editor\Data\NetStandard\compat\2.1.0\shims\netstandard\System.Runtime.Numerics.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
